/*DISPLAY STUFF-----------------------------------------------------*/
#textbox {
  width: 230px;
  height: 25px;
  padding: 8px 8px;
  border-radius: 8px;
}

#keypad tr{
  background-color: rgb(62, 88, 88);
}

/*BUTTON STUFF------------------------------------------------------*/
#grid button{
  background-color: rgb(44, 44, 44);
  color: white;
  height: 80px;
  width: 80px;
}

#grid button span{
  display: block;
  margin-top: 5px;
  font-size: 15px;
}

#grid button:hover {
  background-color:rgb(115, 223, 187);
  color:azure;
}

/*BODY STUFF---------------------------------------------------------*/
body {
margin: auto;
width: 240px; 
padding: 225px;
background-color: rgb(44, 43, 43);
font-family: 'Lexend Deca', sans-serif; 
}